
#number-user-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
    margin: 0 0 0 0;
    position: center;
    float: inside;
    display: table;
    table-layout: fixed;
}
#number-user-table td, #number-user-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
#number-user-table tr:nth-child(even){
    background-color: #f2f2f2;
}
#number-user-table tr:hover {
    background-color: #ddd;
}
#number-user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#change_row_aanpassen{
    width: 20%;
}
#name-row{
    width: 60%;
}
#phone_number_row{
    width: 20%;
}
#but_change{
    width: 45%;
    height: 50px;
    float: left;
    cursor: pointer;
}
#but_delete{
    width: 45%;
    height: 50px;
    float: right;
    margin: 0;
    cursor: pointer;
}
.far{
    font-size: 1.3vw;
}
#error_message{
    background-color: red;
    height: 100%;
    width: 100%;
    display: block;
    margin: 3px 0 0 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.notification{
    margin-top: -4px;
}

#pages{
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
}
